/* Botão */
.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #320;

  font: var(--font-1-m-b);
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
