.introducao {
  box-shadow: inset 0 -120px var(--c0);
}

.introducao__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 40px;
  padding: 0 20px;
  margin: 0 auto;

  max-width: 1200px;
}

.introducao__conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao__conteudo h1 {
  margin-bottom: 32px;
}

.introducao__conteudo p {
  margin-bottom: 20px;
}

.introducao__img img {
  object-fit: cover;
  height: 100%;
}

@media (max-width: 1200px) {
  .introducao__conteudo h1 {
    margin-bottom: 16px;
  }
}

@media (max-width: 800px) {
  .introducao {
    padding-top: 40px;
    background-color: var(--c11);
    box-shadow: inset 0 -60px var(--c0);
  }

  .introducao__container {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao__conteudo {
    padding-bottom: 0;
  }

  .introducao__img img {
    height: 300px;
    width: 100%;
  }
}
